config VIDEO_ARK1668E_VIN
	tristate "ArkMicro ark1668e videoin driversupport"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	select VIDEOBUF2_DMA_CONTIG
	select REGMAP_MMIO
	select V4L2_FWNODE
	help
	   This is the camera driver for arkmicro

config VIDEO_USE_LOCK
       tristate "set use lock for video"
       depends on ARK1668E_CARBACK
