// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
#include "arkn141.dtsi"
#include "arkn141-pinctrl.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	sound {
		//compatible = "arkmicro,arkn141-audio";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "arkn141-audio";
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,dai-link@0 {		/* I2S - dac */
			reg = <0>;
			cpu {
				sound-dai = <&i2s_dac>;
			};
			codec {
				sound-dai = <&sddac>;
			};
		};

		simple-audio-card,dai-link@1 {		/* I2S - adc */
			reg = <1>;
			format = "i2s";
			cpu {
				sound-dai = <&i2s_adc>;
			};
			codec {
				sound-dai = <&sdadc>;
			};
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x3800000>;
			linux,cma-default;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		key0 {
			label = "PB_LOCK";
			gpios = <&gpio1 0 GPIO_ACTIVE_LOW>;
			linux,code = <0x100>;
			debounce-interval = <20>;
		};

		key1 {
			label = "PB_POWER";
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
			linux,code = <0x101>;
			debounce-interval = <20>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led0 {
			label = "red";
			gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
		};

		led1 {
			label = "blue";
			gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
			default-state = "on";
		};
	};

	adc {
		compatible = "arkmicro,arkn141-adc";
		reg = <0x40403000 0x1000
			0x40408000 0x1000>;
		interrupt-parent = <&intc>;
		interrupts = <0x10>;
	};

	i2c-gpio-0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "i2c-gpio";
		gpios = <&gpio0 27 0		/* SDA */
			&gpio0 28 0		/* SCL */
		>;
		i2c-gpio,delay-us = <2>;	/* clk freq = 500/delay KHz */
		i2c-gpio,scl-output-only;
		//i2c-gpio,sda-open-drain;
		//i2c-gpio,scl-open-drain;

		rn6752: da380@4e {
			compatible = "arkmicro,arkn141_rn6752";
			//reset-gpio = <&gpio3 11 0>;
			//irq-gpio = <&gpio3 11 0>;
			//pdn-gpio = <&gpio3 11 0>;
			reg = <0x2c>; /* i2c address(7 bits) */
			default-channel = <0>;	/* 0:channel A; 1:channel B */
			camera-format = <3>;	/* 0:unknown; 1:cvbs pal; 2:cvbs ntsc; 3:720p pal; 4:720p ntsc */
			itu601in = <1>;	/* 0:itu656in; 1:itu601in */
		};
		es8156: es8156@9{
			status = "okay";
			compatible = "arkmicro,es8156";
			reg = <0x9>;
		};
		es7243e: es7243e@14{
			status = "okay";
			compatible = "arkmicro,es7243e";
			reg = <0x14>;
		};
	};

	touchscreen {
		compatible = "arkmicro,ark-nop-ts";
	};
};

&i2c0 {
	sensor0: gc2053@37 {
		compatible = "arkmicro,gc2053";
		reg = <0x37>;
		sensor-fps = <30>;
	};

	sensor1: imx322@1a {
		compatible = "arkmicro,imx322";
		reg = <0x1a>;
		sensor-fps = <30>;
		status = "disabled";
	};

	xs508: xs508@29 {
		status = "okay";
		compatible = "arkmicro,dvr_xs508";
		reg = <0x29>;
	};
};

&ecspi {
	m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mx25l12805d";
		reg = <0>; /* Chip select 0 */
		spi-max-frequency = <50000000>;
	};
};

&lcdc {
	display = <&display0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcd_base &pinctrl_lcd_itu601out>;

	display0: display@0 {
		interface-type = "SRGB-P";	/* itu601 */
		bits-per-pixel = <32>;
		//power-control-gpio = <&gpio2 17 GPIO_ACTIVE_HIGH>;
		lcd-wiring-mode = "RGB";
		//lcdcon-backlight;
		//pwms = <&pwm0 1 50000>;
		//pwm-names = "backlight";
		//backlight-value = <20>;
		//backlight-delay = <200>;
		clk-freq-autoupdate;	/* Config clock-frequency by dynamic based on lcd resolution */

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				/* clock-frequency = <68400000>; //1280x720 */
				/* clock-frequency = <42750000>; //1280x480 */
				clock-frequency = <42750000>; //1024x600 
				/* clock-frequency = <28500000>; //800x480 */
				hactive = <1024>;
				vactive = <600>;
				hback-porch = <1>;
				hfront-porch = <1>;
				vback-porch = <1>;
				vfront-porch = <1>;
				hsync-len = <370>;
				vsync-len = <30>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};

&itu656in {
	channel = <2>;  /* 0:channel A; 1:channel B; 2:channel A and B*/
};

&usb0_phy {
     status = "okay";
};

&usb0 {
	status = "okay";
	gpio-id = <0>;
	gpio-pwr = <0xFFFFFFFF>;
};

&vdec {
	status = "okay";
};

//&mmc1_clk{
//	div-value = <10>;
//};

//&sddac{
//	left-volume = <116>;
//	right-volume = <116>;
//};

//&i2s_adc{
//	left-volume = <2>;
//	right-volume = <2>;
//};