CONFIG_ARM=y
CONFIG_SYS_L2CACHE_OFF=y
CONFIG_ARCH_ARKMICRO=y
CONFIG_SYS_TEXT_BASE=0x80030000
CONFIG_TARGET_ARKN141_HJYB=y
CONFIG_SMBIOS_PRODUCT_NAME="ark1668"
# CONFIG_ARCH_FIXUP_FDT_MEMORY is not set
CONFIG_BOOTDELAY=0
CONFIG_DEFAULT_FDT_FILE="arkn141-hjyb.dtb"
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_HUSH_PARSER=y
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_MMC=y
CONFIG_CMD_SF=y
CONFIG_CMD_FAT=y
CONFIG_CMD_MTDPARTS=y
CONFIG_MTDIDS_DEFAULT="nor0=m25p80"
CONFIG_MTDPARTS_DEFAULT="mtdparts=m25p80:128k(bootstrap),512k(bootloader),128k(bootloaderenv),128k(fdt),3m(kernel),128k(usrdata),64k(reserve),64k(customid),-(rootfs)"
CONFIG_ENV_IS_IN_SPI_FLASH=y
# CONFIG_NET is not set
CONFIG_MMC_DW=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_CONS_INDEX=0
CONFIG_PL011_SERIAL=y
CONFIG_SPI=y
CONFIG_ARK_SPI=y
CONFIG_REGEX=y
CONFIG_OF_LIBFDT=y
